body {
  background: pink;
  margin: 0;
  padding: 0;
}

/* swiper.js */

.swiper-container {
  width: 300px;
  height: 400px;
  margin-top: 3%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}



/* Click Me Button */

.btn {
  margin: 2rem;
  font-size: 1.5rem;
  left: 35%;
  transform: translateX(-35%);
}

@media only screen and (max-width: 600px) {
  .btn {
  left: 5%;
  transform: translateX(-5%);
  }
}

.btn-jittery {
  -webkit-animation: jittery 4s infinite;
          animation: jittery 4s infinite;
}

@-webkit-keyframes jittery {
  5%,
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  15% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  20% {
    -webkit-transform: scale(1.15) rotate(-5deg);
            transform: scale(1.15) rotate(-5deg);
  }
  25% {
    -webkit-transform: scale(1.15) rotate(5deg);
            transform: scale(1.15) rotate(5deg);
  }
  30% {
    -webkit-transform: scale(1.15) rotate(-3deg);
            transform: scale(1.15) rotate(-3deg);
  }
  35% {
    -webkit-transform: scale(1.15) rotate(2deg);
            transform: scale(1.15) rotate(2deg);
  }
  40% {
    -webkit-transform: scale(1.15) rotate(0);
            transform: scale(1.15) rotate(0);
  }
}

@keyframes jittery {
  5%,
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  15% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  20% {
    -webkit-transform: scale(1.15) rotate(-5deg);
            transform: scale(1.15) rotate(-5deg);
  }
  25% {
    -webkit-transform: scale(1.15) rotate(5deg);
            transform: scale(1.15) rotate(5deg);
  }
  30% {
    -webkit-transform: scale(1.15) rotate(-3deg);
            transform: scale(1.15) rotate(-3deg);
  }
  35% {
    -webkit-transform: scale(1.15) rotate(2deg);
            transform: scale(1.15) rotate(2deg);
  }
  40% {
    -webkit-transform: scale(1.15) rotate(0);
            transform: scale(1.15) rotate(0);
  }
}

